body {
}

label div.inputLabel {
    margin-right: 0.5em;
    width: 5em;
    float: left; }

code {
    margin-left: 0.2em;
    margin-right: 0.2em;
    color: #000088;
}

div.attribute, div.attributes {
    display: inline-block;
}

div.attributes {
    float: right;
    clear: right;
}

.attribute.distance {
    width: 13em;
}

.attribute.duration {
    width: 10em;
}

.roles {
}

input {
}

input[type=submit] {
    margin-top: 1em;
    margin-bottom: 1em;
}

input.address {
    width: 30em;
}

span.key {
    margin-left: 0.25em;
    margin-right: 0.25em;
}

span.value {
    margin-right: 0.25em;
}

span.key, span.value {
}

ol {
    list-style-type: decimal;
}

ul {
    list-style-type: disc;
}
